.locations-wrapper-row {
  z-index: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  color: #ffff00;
  font-family: Roboto, sans-serif;
  background-color: #ffff0000;
}
.locations-sidebar-left-column {
  z-index: 1;
  flex: 1;
  background: #000;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  box-sizing: border-box;
  scrollbar-width: none;
  background: #000;
  height: 130vh;
}
.use-location {
  z-index: 1;
  justify-self: center;
  align-self: center;
  background: #FFFF00;
  border: none;
  padding: 15px 10px;
  border-radius: 50px;
  font-family: 'dejavu sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  width: 85%;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s;
}
.location-search-btn-wrapper {
  position: relative;
  z-index: 10;
  background-color: transparent;
  padding: 3px;
  margin: 3px 0;
  border: #00000000;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.use-location:hover,
.use-location:active {
  overflow: visible;
  position: relative;
  z-index: 10;
  border: #ffec23 1px solid;
  scale: 1.05;
  border-radius: 52px;
  transform: translateX(50px);
}
.location-search-btn-wrapper.active,
.location-search-btn-wrapper:hover {
  overflow: visible;
  position: relative;
  z-index: 10;
  border: #ffec23 1px solid;
  scale: 1.05;
  border-radius: 52px;
  transform: translateX(50px);
}
.location-search-btn {
  border-radius: 50px;
  text-align: center;
  padding: 2px 2px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
}
.location-search-btn h3 {
  font-size: 20px;
  font-family: 'dejavu sans', sans-serif;
  font-weight: lighter;
  letter-spacing: -1px;
  padding: 5px 5px;
  text-transform: uppercase;
}
.location-search-btn p {
  font-size: 14 px;
  font-family: 'dejavu sans', sans-serif;
  font-weight: 100;
  padding: 5px 5px;
  text-transform: uppercase;
}
.upper-col {
  flex: 7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: black;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 0px;
  color: white;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid #ffec23;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.upper-col h3 {
  flex-grow: 1;
  margin: 0;
}

.store-name {
  align-items: center;
    flex-grow: 1;
}
.lower-col {
  background: white;
  padding: 0px 30px;
  color: black;
  border-top: 2px solid #ffec23;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-decoration: underline;
}
.phone-icons {
  margin-left: auto;
}

.phone-icons i {
  flex: 1;
  margin: 0px 10px;
  font-size: 30px;
  color: #fff000;
}
.map-display {
  flex: 6;
  background: #ffff00;
  position: relative;
}
.stats-box {
  background: #FFFF00;
  color: black;
  padding: 30px;
  text-align: center;
}
.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px 0;
}
.stats div {
  text-align: center;
  margin: 10px;
}
.stats h3 {
  font-size: 40px;
  margin: 0;
}
.stats p {
  font-size: 14px;
  text-transform: uppercase;
}
.contact {
  font-size: 18px;
  margin: 10px 0;
}
.contact span {
  color: #28A2FF;
}
.download-btn {
  background: #46A8FF;
  color: white;
  border: none;
  padding: 12px 40px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}
.download-btn:hover {
  background: #1b6fd6;
}
/* Laptop screens */
@media (max-width: 1200px) and (min-width: 992px) {
.locations-wrapper-row {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  color: #ffff00;
  font-family: Roboto, sans-serif;
  background-color: #ffff0000;
}
.locations-sidebar-left-column {
  flex: 1.9;
  background: #000;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  box-sizing: border-box;
  scrollbar-width: none;
  background: #000;
  height: 130vh;
}
.use-location {
  justify-self: center;
  align-self: center;
  background: #FFFF00;
  border: none;
  padding: 15px 10px;
  border-radius: 50px;
  font-family: 'dejavu sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  width: 85%;
  cursor: pointer;
  margin-bottom: 10px;
}
.location-search-btn-wrapper {
  background-color: transparent;
  padding: 3px;
  margin: 3px 0;
  border: #00000000;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.location-search-btn-wrapper.active,
.location-search-btn-wrapper:hover {
  border: #ffec23 1px solid;
  scale: 1.05;
  border-radius: 52px;
}
.location-search-btn {
  border-radius: 50px;
  text-align: center;
  padding: 2px 2px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
}
.location-search-btn h3 {
  font-size: 20px;
  font-family: 'dejavu sans', sans-serif;
  font-weight: lighter;
  letter-spacing: -1px;
  padding: 5px 5px;
  text-transform: uppercase;
}
.location-search-btn p {
  font-size: 14 px;
  font-family: 'dejavu sans', sans-serif;
  font-weight: 100;
  padding: 5px 5px;
  text-transform: uppercase;
}
.upper-col {
  flex: 7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: black;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 0px;
  color: white;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid #ffec23;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.upper-col h3 {
  flex-grow: 1;
  margin: 0;
}

.store-name {
  align-items: center;
    flex-grow: 1;
}
.lower-col {
  background: white;
  padding: 0px 30px;
  color: black;
  border-top: 2px solid #ffec23;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-decoration: underline;
}
.phone-icons {
  margin-left: auto;
}

.phone-icons i {
  flex: 1;
  margin: 0px 10px;
  font-size: 30px;
  color: #fff000;
}
.map-display {
  flex: 6;
  background: #ffff00;
  position: relative;
}
.stats-box {
  background: #FFFF00;
  color: black;
  padding: 30px;
  text-align: center;
}
.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px 0;
}
.stats div {
  text-align: center;
  margin: 10px;
}
.stats h3 {
  font-size: 40px;
  margin: 0;
}
.stats p {
  font-size: 14px;
  text-transform: uppercase;
}
.contact {
  font-size: 18px;
  margin: 10px 0;
}
.contact span {
  color: #28A2FF;
}
.download-btn {
  background: #46A8FF;
  color: white;
  border: none;
  padding: 12px 40px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}
.download-btn:hover {
  background: #1b6fd6;
}